:root {
  --main-color: #030749;
  --main-hilight-color: #ff5e15;
  --white: #fff;
}
a {
  color: #000;
  transition: 0.5s;
}
a:hover {
  color: #000;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button {
  background: var(--main-hilight-color) !important;
  border: 0 !important;
}
/* header */
header {
}
/* top-bar */
.top-bar {
  color: #fff;
  background: var(--main-color);
  padding: 10px 0;
}
.social-icons li {
  display: inline-block;
  padding: 10px 4px;
}
.social-icons a {
  color: var(--white);
}
.social-icons a:hover {
  color: var(--main-hilight-color);
}
.top-dropdown {
  margin: 3px 0;
  border-left: 1px solid var(--white);
}
/* widget */
.header-widget {
  padding: 10px 0;
  background: var(--white);
}
.logo {
  width: 200px;
}
.widgets li {
  display: inline-block;
  padding: 0 5px;
}
.widgets li svg {
  font-size: 50px;
  color: var(--main-hilight-color);
}
.offcanvas-menu {
  background: transparent !important;
}
